.companyInfoContainer {
  width: 80%;
  margin: 30px auto;
  font-size: 20px;
  line-height: 25px;
}

@media screen and (max-width: 550.5px) {
  .companyInfoContainer {
    font-size: 15px;
    line-height: 17px;
  }
}

.text {
  margin-bottom: 20px;
}

.crewMembersContainer {
  display: grid;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 70px;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 20px;
  grid-template-areas:
    "crewMember1 crewMember2 crewMember3"
    "crewMember4 crewMember5 crewMember6";
}

@media screen and (max-width: 1100.5px) {
  .crewMembersContainer {
    margin-top: -20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "crewMember1 crewMember2"
      "crewMember3 crewMember4"
      "crewMember5 crewMember6";
  }
}

@media screen and (max-width: 730.5px) {
  .crewMembersContainer {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "crewMember1"
      "crewMember2"
      "crewMember3"
      "crewMember4"
      "crewMember5"
      "crewMember6"
  }
}


.crewMember1 { 
  grid-area: crewMember1;
}

.crewMember2 { 
  grid-area: crewMember2; 
}

.crewMember3 { 
  grid-area: crewMember3; 
}

.crewMember4 { 
  grid-area: crewMember4; 
}

.crewMember5 { 
  grid-area: crewMember5; 
}

.crewMember6 { 
  grid-area: crewMember6; 
}