.companyInfoContainer {
  width: 80%;
  margin: 30px auto;
}

.crewMembersContainer {
  display: grid;
  margin: 30px auto;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax();
  gap: 20px 20px;
  grid-template-areas:
    "crewMember1 crewMember2 crewMember3"
    "crewMember4 crewMember5 crewMember6";
}

@media screen and (max-width: 1100.5px) {
  .crewMembersContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax();
    grid-template-areas:
      "crewMember1 crewMember2"
      "crewMember3 crewMember4"
      "crewMember5 crewMember6";
  }
}

@media screen and (max-width: 730.5px) {
  .crewMembersContainer {
    grid-template-columns: 1fr;
    grid-template-rows: minmax();
    grid-template-areas:
      "crewMember1"
      "crewMember2"
      "crewMember3"
      "crewMember4"
      "crewMember5"
      "crewMember6"
  }
}


.crewMember1 { 
  grid-area: crewMember1; 
}

.crewMember2 { 
  grid-area: crewMember2; 
}

.crewMember3 { 
  grid-area: crewMember3; 
}

.crewMember4 { 
  grid-area: crewMember4; 
}

.crewMember5 { 
  grid-area: crewMember5; 
}

.crewMember6 { 
  grid-area: crewMember6; 
}