@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.companyInfoContainer {
  width: 80%;
  margin: 30px auto;
  font-size: 20px;
  line-height: 25px;
}

@media screen and (max-width: 550.5px) {
  .companyInfoContainer {
    font-size: 15px;
    line-height: 17px;
  }
}

.crewMembersContainer {
  display: grid;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 80px;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr max-content 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "positionCrewMember1 positionCrewMember2 positionCrewMember3"
    "crewMember1 crewMember2 crewMember3"
    "positionCrewMember4 positionCrewMember5 positionCrewMember6"
    "crewMember4 crewMember5 crewMember6";
}

.crewPosition1, .crewPosition2, .crewPosition3, .crewPosition4, .crewPosition5, .crewPosition6 {
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000000;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: #bccbd1;
  font-weight: 600;
}

.crewPosition1 {
  grid-area: positionCrewMember1;
}

.crewPosition2 {
  grid-area: positionCrewMember2;
}

.crewPosition3 {
  grid-area: positionCrewMember3;
}

.crewPosition4 {
  grid-area: positionCrewMember4;
}

.crewPosition5 {
  grid-area: positionCrewMember5;
}

.crewPosition6 {
  grid-area: positionCrewMember6;
}

@media screen and (max-width: 1100.5px) {
  .crewMembersContainer {
    margin-top: -20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr max-content 1fr max-content 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "positionCrewMember1 positionCrewMember2"
      "crewMember1 crewMember2"
      "positionCrewMember3 positionCrewMember4"
      "crewMember3 crewMember4"
      "positionCrewMember5 positionCrewMember6"
      "crewMember5 crewMember6";
  }
}

@media screen and (max-width: 730.5px) {
  .crewMembersContainer {
    margin-top: -20px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content 1fr max-content 1fr max-content 1fr max-content 1fr max-content 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "positionCrewMember1"
      "crewMember1"
      "positionCrewMember2"
      "crewMember2"
      "positionCrewMember3"
      "crewMember3"
      "positionCrewMember4"
      "crewMember4"
      "positionCrewMember5"
      "crewMember5"
      "positionCrewMember6"
      "crewMember6"
  }
}


.crewMember1 { 
  grid-area: crewMember1;
}

.crewMember2 { 
  grid-area: crewMember2; 
}

.crewMember3 { 
  grid-area: crewMember3; 
}

.crewMember4 { 
  grid-area: crewMember4; 
}

.crewMember5 { 
  grid-area: crewMember5; 
}

.crewMember6 { 
  grid-area: crewMember6; 
}