@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.titleContainer {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/exterior1.jpg);
    opacity: 0.35;
    background-size: 100% 100%;
}

.titleText {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
}