@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #e5e5e5;
}

.titleContainer {
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "overlapTitle"
}

.titleImage {
    grid-area: overlapTitle;
    opacity: 0.35;
    max-height: 65vh;
}

.titleText {
    grid-area: overlapTitle;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    padding: 0 50px;
}

.contentContainer {
    width: 70%;
    margin: 50px auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 20px 50px;
    grid-template-areas:
      "contentText1 contentText1 . ."
      "contentText1 contentText1 contentImage1 contentImage1"
      "contentText2 contentText2 contentImage1 contentImage1"
      "contentText2 contentText2 contentImage2 contentImage2"
      "contentText3 contentText3 contentImage2 contentImage2"
      "contentText3 contentText3 . .";
}
  
.contentText1 { 
    grid-area: contentText1; 
    padding-right: 70px;
    padding-left: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
  
.contentText2 { 
    grid-area: contentText2; 
    padding-right: 70px;
    padding-left: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
  
.contentText3 { 
    grid-area: contentText3; 
    padding-right: 70px;
    padding-left: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
  
.contentImage1 { 
    grid-area: contentImage1; 
}
  
.contentImage2 { 
    grid-area: contentImage2; 
}

.bannerContainer {
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "overlap"
}

.bannerText {
    grid-area: overlap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    z-index: 50;
    text-align: center;
}

.bannerBackground {
    grid-area: overlap;
    height: 100%;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "bannerImage1 . bannerImage2 ."
      ". bannerImage3 . bannerImage4";
}
  
.bannerImage1 { 
    grid-area: bannerImage1; 
    opacity: 0.3;
}
  
.bannerImage2 { 
    grid-area: bannerImage2; 
    opacity: 0.3;
}
  
.bannerImage3 { 
    grid-area: bannerImage3; 
    opacity: 0.3;
}
  
.bannerImage4 { 
    grid-area: bannerImage4; 
    opacity: 0.3;
}

@media screen and (min-width: 875.5px) and (max-width: 987.5px){
    .titleText {
        padding: 0 110px;
    }
}

@media screen and (min-width: 638.5px) and (max-width: 672.5px){
    .titleText {
        padding: 0 130px;
    }
}

@media screen and (max-width: 500.5px){
    .titleText {
        font-size: 60px;
    }
}

@media screen and (max-width: 435.5px){
    .titleText {
        padding: 0;
    }
}

@media screen and (max-width: 370.5px){
    .titleText {
        font-size: 50px;
    }
}

@media screen and (max-width: 300.5px){
    .titleText {
        padding: 0 20px;
        font-size: 35px;
    }
}

@media screen and (max-width: 950.5px) {
    .contentContainer {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        gap: 50px;
        grid-template-areas:
          "contentText1"
          "contentImage1"
          "contentText2"
          "contentImage2"
          "contentText3";
    }

    .contentText1 { 
        padding: 0;
    }

    .contentText2 { 
        padding: 0;
    }

    .contentText3 { 
        padding: 0;
    }
}