@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.input {
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    max-width: 205px;
    padding: 0;
    padding-left: 10px;
}