.input {
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 20px;
    font-family: proxima-nova, sans-serif;
    max-width: 205px;
    padding: 0;
    padding-left: 10px;
    transition: all 0.5s;
}

::placeholder {
    color: #ffffff;
}

@media screen and (max-width: 676.5px) {
    .input {
        max-width: none;
        width: calc(100% - 14px);
    }
}