@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(315deg,#D2E7F0 50%,#AEB8BC 100%);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    color: #343131;
    border-bottom: 1px solid #000000;
  }

  .image {
    margin-top: 15px;
    width: 45%;
    transition: transform 0.2s
  }

  .header {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  .text {
    font: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  .moreInfoContainer {
    width: 100%;
  }

  .expandContainer {
    overflow: hidden;
  }

  .moreInfoText {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000000;
    margin-top: -100%;
    transition: all 0.8s;
  }

  .moreInfoTextExpanded {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000000;
    margin-top: 0;
    transition: all 0.3s;
  }

  .moreInfoButton {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .moreInfoButtonText {
    border: 2px solid #000000;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    width: max-content;
    padding: 8px;
    transition: all 0.5s;
    background-color: #ffffff;
  }

  .moreInfoButtonText:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
  }

  .hideInfoButtonText {
    border: 2px solid #000000;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    width: max-content;
    padding: 8px;
    transition: all 0.5s;
    background-color: #000000;
    color: #ffffff;
  }

  .hideInfoButtonText:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
  }