@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(315deg,#D2E7F0 50%,#AEB8BC 100%);

    /* For testing */
    margin-left: 10%;
    margin-top: 10%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    color: #343131;
  }

  .image {
    margin-top: -45%;
    margin-left: -100%;
    width: 35%;
    height: 35%;
    transition: transform 0.2s;
    background-image: linear-gradient(0deg,#AEB8BC 50%, #D2E7F0 100%);
    border-radius: 35%;
  }

  .header {
    margin-top: -10%;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  .text {
    margin-bottom: 0%;
    margin-top: 0%;
    font: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }