@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

ul {
  list-style: none;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 35px;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content;
    grid-template-areas: 
      "contentContainer"
      "infoButton";
    background-image: linear-gradient(315deg,#D2E7F0 50%,#AEB8BC 100%);
    font-weight: 600;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    color: #343131;
    grid-area: text;
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-areas: 
      "title"
      "shortBio";
    height: max-content;
  }

  .image {
    margin-top: 20px;
    width: 10em;
    height: 10em;
    grid-area: image;
  }

  .roundedImage {
    margin-top: 20px;
    width: 10em;
    height: 10em;
    grid-area: image;
    border-radius: 50%;
  }

  .header {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header:only-child {
    grid-row: 1 / -1;
  }

  .text {
    font: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  .moreInfoButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .moreInfoButtonText {
    border: 2px solid #000000;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    width: max-content;
    padding: 8px;
    margin: 8px;
    transition: all 0.5s;
    background-color: #ffffff;
    grid-area: infoButton;
  }

  .moreInfoButtonText:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
  }

  .hideInfoButtonText {
    border: 2px solid #000000;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    width: max-content;
    padding: 8px;
    margin: 8px;
    transition: all 0.5s;
    background-color: #000000;
    color: #ffffff;
    grid-area: infoButton;
  }

  .hideInfoButtonText:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
  }

  .moreInfoContainerHidden {
    height: 100%;
    grid-area: overlay;
    padding: 15px;
    max-width: 100%;
    position: relative;
    left: 100%;
    transition: all 1s;
  }

  .moreInfoContainerShown {
    height: 100%;
    grid-area: overlay;
    padding: 15px;
    max-width: 100%;
    position: relative;
    left: 0;
    transition: all 1s;
  }

  .contentContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "overlay";
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    overflow: hidden;
    grid-area: contentContainer;
  }

  .imageTitleText {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      "image"
      "text";
    align-items: center;
    justify-items: center;
    grid-area: overlay;
    transition: all 1s;
    max-width: 100%;
    position: relative;
    right: 0;
  }

  .imageTitleTextMoved {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      "image"
      "text";
    align-items: center;
    justify-items: center;
    grid-area: overlay;
    transition: all 1s;
    max-width: 100%;
    position: relative;
    right: 100%;
  }

  .moreInfoTitle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .moreInfoText {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 49px);
    font-weight: 200;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .shortBio {
    font-family: 'Raleway', sans-serif;
    grid-area: shortBio;
    padding: 0 25px;
    font-size: 22px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: 
      "dateOfBirthLabel"
      "dateOfBirthValue"
      "languagesLabel"
      "languagesValue"
      "experienceLabel"
      "experienceValue";
  }

  .dateOfBirthLabel {
    grid-area: dateOfBirthLabel;
  }

  .dateOfBirthValue {
    grid-area: dateOfBirthValue;
  }

  .languagesLabel {
    grid-area: languagesLabel;
  }

  .languagesValue {
    grid-area: languagesValue;
  }

  .experienceLabel {
    grid-area: experienceLabel;
  }

  .experienceValue {
    grid-area: experienceValue;
  }

  .dateOfBirthValue, .languagesValue {
    margin-bottom: 15px;
  }