ul {
  list-style: none;
}

.card {
    box-shadow: 0 4px 8px 0 #0080FF;
    transition: 0.3s;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content;
    grid-template-areas: 
      "contentContainer"
      "infoButton";
    background-image: linear-gradient(90deg,#0F52BA -20%,#111E6C);
    background-size: 100% 90%;
    font-weight: 600;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px white;
  }
  
  .container {
    padding: 2px 16px;
    color: white;
    grid-area: text;
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-areas: 
      "title";
    height: max-content;
  }

  .image {
    margin-top: 20px;
    width: 10em;
    height: 10em;
    grid-area: image;
  }

  .roundedImage {
    margin-top: 20px;
    width: 10em;
    height: 10em;
    grid-area: image;
    border-radius: 50%;
    border: 2px solid white;
  }

  .header {
    font-size: 25px;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header:only-child {
    grid-row: 1 / -1;
  }

  .text {
    font: 15px;
    font-family: proxima-nova, sans-serif;
    text-align: center;
  }

  .moreInfoContainerHidden {
    height: 100%;
    grid-area: overlay;
    padding: 15px;
    max-width: 100%;
    position: relative;
    left: 100%;
    transition: all 1s;
  }

  .moreInfoContainerShown {
    height: 100%;
    grid-area: overlay;
    padding: 15px;
    max-width: 100%;
    position: relative;
    left: 0;
    transition: all 1s;
    color: white;
  }

  .contentContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "overlay";
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    overflow: hidden;
    grid-area: contentContainer;
  }

  .imageTitleText {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      "image"
      "text";
    align-items: center;
    justify-items: center;
    grid-area: overlay;
    transition: all 1s;
    max-width: 100%;
    position: relative;
    right: 0;
    padding: 15px;
    align-content: center;
  }

  .imageTitleTextMoved {
    display: grid;
    padding: 15px;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      "image"
      "text";
    align-items: center;
    justify-items: center;
    grid-area: overlay;
    transition: all 1s;
    max-width: 100%;
    position: relative;
    right: 100%;
  }

  .moreInfoTitle {
    font-family: proxima-nova, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 25px;
  }

  .moreInfoText {
    font-family: proxima-nova, sans-serif;
    text-align: center;
    line-height: 23px;
    font-size: 20px;
    justify-content: center;
    height: calc(100% - 65px);
    font-weight: 200;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  @media screen and (max-width: 900.5px) {
    .roundedImage {
      width: 9em;
      height: 9em;
    }

    .image {
      width: 9em;
      height: 9em
    }

    .header {
      font-size: 22px;
    }

    .moreInfoTitle {
      font-size: 22px;
    }

    .moreInfoText {
      font-size: 19px;
      line-height: 21px;
    }
  }

  @media screen and (max-width: 700.5px) {
    .roundedImage {
      width: 8em;
      height: 8em;
    }

    .image {
      width: 8em;
      height: 8em
    }

    .header {
      font-size: 19px;
    }

    .moreInfoTitle {
      font-size: 19px;
    }

    .moreInfoText {
      font-size: 17px;
      line-height: 20px;
    }
  }

  @media screen and (max-width: 500.5px) {
    .roundedImage {
      width: 7em;
      height: 7em;
    }

    .image {
      width: 7em;
      height: 7em
    }

    .header {
      font-size: 17px;
    }

    .moreInfoTitle {
      font-size: 17px;
    }

    .moreInfoText {
      font-size: 15px;
      line-height: 18px;
    }
  }