@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(315deg,#D2E7F0 50%,#AEB8BC 100%);
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

  .image {
    margin-top: 15px;
    width: 45%;
    transition: transform 0.2s
  }

  .header {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }