.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bccbd1;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.logoContainer {
    width: 200px;
    transition: transform 0.2s;
    margin-top: 20px;
    margin-bottom: 10px;
}

.logoContainer:hover {
    transform: scale(1.2);
}

.navigationWrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footerImagesContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.socialMediaContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.socialMediaIcon {
    width: 100px;
    transition: transform 0.2s;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
}

.euContainer {
    width: 50%;
}

@media screen and (max-width: 1500.5px) {
    .socialMediaIcon {
        width: 90px;
    }
}

@media screen and (max-width: 1250.5px) {
    .logoContainer {
        width: 150px;
    }

    .socialMediaIcon {
        width: 80px;
    }
}

@media screen and (max-width: 1170.5px) {
    .socialMediaIcon {
        width: 75px;
    }
}

@media screen and (max-width: 1100.5px) {
    .logoContainer {
        width: 150px;
    }

    .socialMediaIcon {
        width: 70px;
    }
}

@media screen and (max-width: 1000.5px) {
    .logoContainer {
        width: 100px;
    }

    .socialMediaIcon {
        width: 60px;
    }
}

@media screen and (max-width: 950.5px) {
    .navigationWrapper {
        height: 0px;
    }

    .footerImagesContainer {
        margin-top: 0px;
    }

    .logoContainer {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 850.5px) {
    .socialMediaIcon {
        width: 50px;
    }
}

@media screen and (max-width: 750.5px) {
    .socialMediaIcon {
        width: 45px;
    }
}

@media screen and (max-width: 700.5px) {
    .socialMediaIcon {
        width: 40px;
    }
}

@media screen and (max-width: 600.5px) {
    .socialMediaIcon {
        width: 35px;
    }
}

@media screen and (max-width: 550.5px) {
    .socialMediaIcon {
        width: 30px;
    }
}

@media screen and (max-width: 500.5px) {
    .footerImagesContainer {
        flex-direction: column;
        align-items: center;
    }

    .socialMediaContainer {
        width: 80%;
    }

    .euContainer {
        width: 70%;
    }
}