@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bccbd1;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.logoContainer {
    width: 150px;
    transition: transform 0.2s;
    margin-top: 20px;
    margin-bottom: 10px;
}

.logoContainer:hover {
    transform: scale(1.2);
}

.navigationWrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footerImagesContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 5px;
    justify-content: space-around;
}

.socialMediaContainer {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.socialMediaImages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.socialMediaIcon {
    width: 50px;
    transition: transform 0.2s;
    margin: auto 0;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    max-width: 47%;
}

.contactText {
    margin-top: 25px;
    line-height: 1.5em;
}

.euContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media screen and (max-width: 1400.5px) {
    .socialMediaIcon {
        width: 40px;
    }
}

@media screen and (max-width: 1250.5px) {
    .footerImagesContainer {
        margin-bottom: 10px;
    }

    .logoContainer {
        width: 150px;
    }

    .euContainer {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1100.5px) {
    .socialMediaIcon {
        width: 35px;
    }
}

@media screen and (max-width: 1000.5px) {
    .logoContainer {
        width: 100px;
    }

    .socialMediaIcon {
        width: 30px;
    }
}

@media screen and (max-width: 950.5px) {
    .logoContainer {
        display: none;
    }

    .footerImagesContainer {
        margin-bottom: 0px;
    }

    .navigationWrapper {
        height: 0px;
    }

    .footerImagesContainer {
        margin-top: 0px;
    }

    .logoContainer {
        margin-bottom: 0px;
    }

    .footerImagesContainer {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .socialMediaContainer {
        width: 155px;
        margin-bottom: 20px;
    }

    .socialMediaImages {
        margin-top: 10px;
    }

    .socialMediaIcon {
        width: 35px;
    }

    .contactContainer {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .contactText {
        margin-top: 10px;
    }

    .euContainer {
        width: 360px;
    }
}

@media screen and (max-width: 400.5px) {
    .euContainer {
        width: 100%;
    }
}