.container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.tags {
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    height: 100%;
    flex-grow: 1;
}

.search {
    display: inherit;
    flex-direction: row;
    align-content: center;
    width: 20%;
}

.clear {
    flex-direction: row;
    display: inherit;
    width: 5%;
}

.clearBtn {
    color: red;
    border: none;
    background-color: transparent;
    transition: transform 0.2s;
    font: 20px;
    outline:none;
    cursor: pointer;
}

.clearBtn:hover {
    transform: scale(1.5)
}