.container {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "tags search clear";
    gap: 0 0;
    padding: 5px;
}

.tags {
    grid-area: tags;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 20px;
    justify-content: space-evenly;
}

.search {
    grid-area: search;
    display: inherit;
    flex-direction: row;
    align-content: center;
    width: max-content;
    max-width: 220px;
}

.clear {
    grid-area: clear;
    flex-direction: row;
    display: inherit;
    height: 100%;
    align-content: center;
    overflow: hidden;
    padding: 0;
    margin-left: 20px;
    transition: all 0.5s;
}

.clearDisabled {
    grid-area: clear;
    flex-direction: row;
    display: inherit;
    height: 100%;
    align-content: center;
    overflow: hidden;
    transition: all 0.5s;
    padding: 0;
}

.clearBtn {
    color: black;
    border: none;
    background-color: 	#FF8C00;
    font: 20px;
    outline:none;
    cursor: pointer;
    height: 56px !important;
    padding: 0 20px;
    transition: all 0.5s;
    border-radius: 10px;
    font-family: proxima-nova, sans-serif;
    position: relative;
    right: 0;
    width: 100%;
}

.clearBtn:hover {
    box-shadow: 0 0 0 4px white;
}

.clearBtn:active {
    box-shadow: 0 0 0 0px white;
}

.clearBtnDisabled {
    width: 0;
    transition: all 0.5s;
    color: black;
    border: none;
    height: 56px !important;
    background-color: 	#FF8C00;
    border-radius: 10px;
    position: relative;
    right: -105%;
    padding: 0;
}

@media screen and (max-width: 676.5px) {
    .container {
        margin-bottom: 40px;
        grid-template-columns: 1fr max-content;
        grid-template-rows: 1fr max-content;
        gap: 0 0;
        grid-template-areas: 
            "search clear"
            "tags tags";
    }

    .tags {
        margin-top: 20px;
        margin-right: 0;
    }

    .search {
        max-width: none;
        width: 100%;
        margin: 0;
    }
}