.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(180deg,#0080FF,#111E6C); */
    background-color: transparent;
    margin: 0 auto;
  }
  
  .container {
    padding: 2px 16px;
    color: white;
    width: 80%;
  }

  .image {
    border-radius: 5px;
    margin: 15px;
    width: 60%;
    transition: transform 0.2s;
  }

  .text {
    font: 15px;
    font-family: proxima-nova, sans-serif;
    text-align: center;
  }

  @media screen and (max-width: 1100.5px) {
    .card {
      flex-direction: column-reverse;
    }

    .image {
      width: 80%;
    }
  }