.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    background-color: #111E6C;
}

.logoContainer {
    width: 150px;
    transition: transform 0.2s;
}

.logoContainer:hover {
    transform: scale(1.2);
}

.menuContainer {
    display: none;
}

@media screen and (max-width: 1000.5px) {
    .logoContainer {
        width: 100px;
    }
}

@media screen and (max-width: 950.5px) {
    .headerContainer {
        position: sticky;
        top: 0;
        z-index: 60;
    }

    .menuContainer {
        display: block;
        width: 35px;
        margin-right: 25px;
        padding: 20px 0;
    }

    .headerContainer {
        justify-content: space-between;
        width: 100%;
    }
}